{
  "openapi": "3.1.0",
  "info": {
    "title": "Account.js.gripe Account API",
    "version": "1.0.0",
    "description": "Protected account and identity API. Public discovery is allowed; account data access requires authentication."
  },
  "servers": [
    {
      "url": "https://gateway.js.gripe/api/v1/myaccount"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service health"
          }
        }
      }
    },
    "/clients/public": {
      "get": {
        "summary": "Get public API client metadata",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public client metadata"
          },
          "404": {
            "description": "Client not found"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Create a user session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session bearer token"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "summary": "Register a user when public registration is enabled",
        "responses": {
          "201": {
            "description": "Registered user and session"
          },
          "409": {
            "description": "Account system is not initialized"
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Get the current authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/identity/resolve": {
      "get": {
        "summary": "Resolve a linked identity",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "providerSubject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved identity"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Identity not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
